services:
  postgres:
    image: postgres:16-alpine
    container_name: notificacion-postgres
    restart: unless-stopped
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: notificaciones_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - notificacion-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: notificacion-rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: kausa
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 10
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - notificacion-network

  notificacion-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: notificacion-service
    restart: unless-stopped
    ports:
      - "3001:3001"
    environment:
      PORT: 3001
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_NAME: notificaciones_db
      RABBITMQ_URL: amqp://admin:kausa@rabbitmq:5672
      RABBITMQ_QUEUE: notifications
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - notificacion-network

volumes:
  postgres_data:
  rabbitmq_data:

networks:
  notificacion-network:
    driver: bridge
